<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog\css\custom.css' %}">
        <title>MississaugaHacks2020</title>
        {% include 'blog/navbar.html' %}
    </head>
    <body>
        
      <main role="main" class="container contentblock">
        <div class="row">
          <div class="col-md-8">
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Information</h3>
              <p class='text-muted'>
                <iframe width="300" height="180" src="https://www.youtube-nocookie.com/embed/5QbM7Vsz3kg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
              </p>
            </div>
          </div>
        </div>
      </main>

    </body>

</html>