{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'blog\css\custom.css' %}">
        <title>MississaugaHacks2020</title>
    </head>
    <body>

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">LOGO</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" href="../">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">My Submission</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Grading</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Information</a>
            </li>
          </ul>

          <ul style="margin-right: 21%;" class="navbar-nav collapse navbar-collapse justify-content-end">
            <li class="nav-item">
              {% if user.is_authenticated %}
              <a class="nav-link font-weight-bold" href="../profile">Hello, {{ user.get_username }}.</a>
            </li>
              <li class="nav-item"></li>
              <a class="nav-link font-weight-bold" href="../logout">Log Out</a>
            </li>
              {% else %}
              <a class="nav-link font-weight-bold" href="../login">Login</a>
            </li>
              {% endif %}
            
          </ul>
          

        </div>
      </nav>
        
      <main role="main" class="container contentblock">
        <div class="row">
          <div class="col-md-8">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% block content %}{% endblock %}
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Timer</h3>
              <p class='text-muted'>
                <iframe width="300" height="180" src="https://www.youtube-nocookie.com/embed/5QbM7Vsz3kg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
              </p>
            </div>

            <div class="content-section">
              <h3>Stream</h3>
              <p class='text-muted'>
                <iframe width="300" height="180" src="https://www.youtube-nocookie.com/embed/5QbM7Vsz3kg?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                
              </p>
            </div>

          </div>
        </div>
      </main>

      <footer class="footer">
        <div class="container">
          <span class="text-muted"></span>
        </div>
      </footer>

    </body>

</html>