{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
    {% if post.title != "ARCHIVE" %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="user/{{ post.author }}">{{ post.author.get_full_name }}</a>
            <small class="text-muted">{{ post.date }}</small>
          </div>
          <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
          <img class="article-content" style="max-width: 100%;" src="{{ post.imagelink }}">
          {% autoescape off %}
          {{ post.HTML_content }}
          {% endautoescape %}
          <p class="article-content">{{ post.content }}</p>
          {% if user.is_superuser %}
          <a role="button" style="margin-bottom: 2px;" href="../../../../admin/blog/blogpost/" class="article-content btn btn-success">Edit</a>
          {% endif %}
        </div>
      </article>
      {% endif %}
    {% endfor %}
{% endblock content %}