{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="content-section">
        <legend class="border-bottom mb-4"> {{ profile.user.get_full_name }} </legend>
        <p><a class="font-weight-bold">School: </a> {{ profile.school }} </p>
        {% if not profile.team.users.count == 1 %}
        <p class="font-weight-bold">Team: <a class="font-weight-bold" href="../../../team/{{ profile.team.id }}">{{ profile.team.name }}</a></p>
        {% endif %}
        <p>{{ profile.bio }}</p>

        {% if request.user.id == profile.user.id %}
        <a href="../../../../../../changepassword">Update Password</a>
        {% endif %}    

    </div>


    {% if p_form %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class = "form-group">
                <legend class="border-bottom mb-4">Update</legend>
                {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Update</button>
            </div>
        </form>
    </div>
    {% endif %}

{% endblock content %}