{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>



    <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name/Team</th>
          <th scope="col">Submission Name</th>
          {% if user.is_superuser %}
          <th scope="col">Score</th>
          {% endif %}
        </tr>
      </thead>

    {% for item in posts %}


    <tr>
        <th scope="row">{{ forloop.counter}} </th>
        <td><a href="../../../../team/{{ item.author.profile.team.id }}">{{ item.author.profile.team.name }}</a></td>
        <td><a href="../../../../submission/{{ item.author.username }}">{{ item.title }}</a></td>
        {% if user.is_superuser %}
        <td>{{ item.Score }}</td>
        {% endif %}
    </tr>
       


    {% endfor %}
</tbody>
</table>
</div>



{% endblock content %}