{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>
  <small class="text-muted">Voting will be on the final page.</small>
{% if not request.user.profile.hasVoted %}
<div class="card-deck">
    {% for item in posts %}
    <a name="{{ item.title }}"></a>
    
        <div class="card">
            <div class="p-2 article-metadata">
              <a href="../../../../../team/{{ item.author.profile.team.id }}">{{ item.author.profile.team.name }}</a>
              <div>
              <small class="text-muted">Last Updated: {{ item.date }}</small>
            </div>
            </div>
            <img class="card-img-top" src="{{ item.imagelink }}" alt="{{ item.title }}">
            <div class="card-body">
              <h5 class="card-title">{{ item.title }}</h5>
              <p class="card-text">{{ item.content|truncatewords:20 }}</p>
              <a href="../../../../../submission/{{ item.author }}" class="btn btn-primary"><i class="fas fa-link"></i>      Visit</a>
            </div>
            <div class="card-footer">
              <small class="text-muted"></small>
            </div>
          </div>
       
        {% if forloop.counter|divisibleby:"1"  %}
            </div><div class="card-deck" style="margin-top: 2%;">
        {% endif %}
    {% endfor %}

    <div style="margin-left: 2%;">
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
      {% else %}
      <div>
      <button onclick="VoteFunc()" style="margin-bottom: 4%;" href="#" class="btn btn-lg btn-success">Cast Your Vote</button>
      </div>
      {% endif %}

    {% else %}
    <div>
    <button onclick="VoteFunc()" style="margin-bottom: 4%;" href="#" class="btn btn-lg btn-success">Cast Your Vote</button>
    </div>
    {% endif %}
  </div>
</div>

{% else %}
<h1>Thank you for Voting!</h1>
<small class="text-muted">Winners will be announced tomorrow at 6:00 PM.</small>
{% endif %}

</div>


<script>

function VoteFunc(){
  var result = window.confirm("YOU ARE NOW GOING TO BEGIN VOTING.\nONCE YOU EXIT THE VOTING SCREEN YOU CAN NOT RETURN TO IT AGAIN.\nBE SURE YOU HAVE GONE THROUGH EVERYONE'S SUBMISSIONS.");
  if(result){
    location.href = '../../../../../../../voting';
  }
}

</script>


{% endblock content %}