{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div>



    <table class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name/Team</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>

    {% for item in posts %}


    <tr>
        <th scope="row">{{ forloop.counter}} </th>
        <td>{{ item.author.profile.team.name }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.Score }}</td>
    </tr>
       


    {% endfor %}
</tbody>
</table>
</div>



{% endblock content %}